@media screen and (max-width: 520px) {
    .container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 55px;
        border: 1px solid #E0E0E0;
        background-color: #FAFAFA;
        position: fixed;
        bottom: 0;
    }

    .container .item{
        margin-top: 15px;
    }

    .container .item img{
        width: 30px;
        height: 30px;
    }

    .container .profile img{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 10px;
    }
}