<div class="container">
    <form [formGroup]="loginForm" (submit)="login()">
        <div class="title-icon form-group ">
            <span class="title">Login</span>
        </div>
        <div class="form-group">
            <input class="form-control" formControlName="username" name="username" type="text" placeholder="username">
        </div>
        <div class="form-group">
         <input  class="form-control" formControlName="password" name="password" type="password" placeholder="password">
     </div>
     <div class="form-group">
        <button [disabled]="!loginForm.valid" class="btn btn-primary">Log in</button>
     </div>
     <div class="form-group register">
        <p>Don't have an account? <a routerLink="/register">Sign up</a></p>
     </div>
    </form>
</div>