<div class="container">
    <div class="item title">
        <p>lorem</p>
    </div>
    <div class="div">
        <div class="item new-post">
            <a href="">
                <img src="../../../../assets/img/add_box_FILL0_wght400_GRAD0_opsz48.svg" alt="addpost">
            </a>
        </div>
        <div class="item msg">
            <a href="">
                <img src="../../../../assets/img/sms_FILL0_wght400_GRAD0_opsz48.svg" alt="msg">
            </a>
        </div>
    </div>
</div>