<div class="container">
    <div class="head-post">
        <div class="img-profile">
            <img src="https://picsum.photos/id/237/200/300" alt="">
        </div>
        <div class="surname">
            <p>@Juliodvp29</p>
        </div>
    </div>
    <div class="content-post">
        <img src="https://picsum.photos/id/237/200/300" alt="">
    </div>
    <div class="footer-post">
        <div class="items">
            <div class="item">
                <img src="../../../../assets/img/chat_bubble_FILL0_wght400_GRAD0_opsz48.svg" alt="comments">
            </div>
            <div class="item favorite">
                    <i class='bx bx-heart bx-sm'></i>
            </div>
            <div class="item">
                <img src="../../../../assets/img/send_FILL0_wght400_GRAD0_opsz48.svg" alt="">
            </div>
        </div>
        <div class="desc">
            <div class="likes">
                <p>799 Likes</p>
            </div>
            <div class="coment">
                <span>@Juliodvp29 </span> Hello world
            </div>
        </div>
    </div>
      
</div>